/* Container styling */
#confirmMessageContainer {
    -fx-background-color: #121212;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-border-width: 1;
}

/* Message label styling */
#messageLabel {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

/* Button container styling */
#okButton, #cancelButton {
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

#okButton{
    -fx-background-color: #2e372e;
    -fx-background-radius: 5;
}

#okButton:hover {
    -fx-background-color: #53cb66;
    -fx-text-fill: black;
}

#okButton:armed {
    -fx-background-color: #2fc452;
    -fx-text-fill: black;
}

/* Cancel button styling */

#cancelButton {
    -fx-background-color: #613c36;
    -fx-background-radius: 5;
}

#cancelButton:hover {
    -fx-background-color: #d06651;
    -fx-text-fill: black;
}
#cancelButton:armed {
    -fx-background-color: #fb5332;
    -fx-text-fill: black;
}


/* Buttons styling */
#okButton, #cancelButton{
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14;
    -fx-padding: 8 15;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
