#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #2e372e;
    -fx-background-radius: 5;
}

#copyButton:hover {
    -fx-background-color: #53cb66;
    -fx-text-fill: black;
}

#copyButton:armed {
    -fx-background-color: #2fc452;
    -fx-text-fill: black;
}

#helpMessageContainer {
    -fx-background-color: #121212;
}
